
@{
    ViewData["Title"] = "Detail";
}
@model Product
<h3>Name: <p>@Model.Name</p></h3>
<h3>SellPrice: <p>@Model.SellPrice</p></h3>
<h3>CostPrice: <p>@Model.CostPrice</p></h3>
<h3>Rating: <p>@Model.Rating</p></h3>
<h3>StockCount: <p>@Model.StockCount</p></h3>
<h3>DisCount: <p>@Model.Discount</p></h3>